body{
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 2em;
}

button {
  border-radius: .5em;
  text-align: center;
  background: black;
  color: white;
  font-size: .5em;
  padding: 10px;
}

input[type='text'], select{
  border-radius: .5em;
  font-size: 1em;
  width: 90%;
}

.hidden {
  display: none;
}

#content {
  width: 75%;
  margin: auto;
  }

#items > .item {
  border: 1px solid #444;
  border-radius: .3em;
  padding: .5em;
  width: 75%;
}

.item button {
  float: right;
}


.message-item .delete-button {
  float: right;
}

/* layout stuff */

.box {
  display: flex;
}

.vbox {
  flex-direction: column;
  align-content: space-between;
}
.vbox > *{
  flex-grow:1;
}

.hbox {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.scroller {
  height: 100%;
  width: 100%;
  min-height: 0;
  overflow: auto;
}
